---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroImage from "../components/HeroImage.astro";
import { getEntry } from "astro:content";
const entry = await getEntry("pages", "services");
if (!entry) throw new Error("Missing services page content.");
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title} seo={entry.data.seo}>
  <h1>{entry.data.title}</h1>
  {entry.data.heroImage && (
    <HeroImage
      heroImage={entry.data.heroImage}
      heroImageAlt={entry.data.heroImageAlt ?? `${entry.data.title} hero image`}
    />
  )}
  <Content />
</BaseLayout>
